.fotos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows:repeat(14,auto) ;
    grid-template-areas: 
        "foto1 foto1 foto1 foto1"
        "foto2 foto2 foto2 foto2" 
        "foto3-1 foto3-2 foto3-4 foto3-3"
        "foto4 foto4 foto4 foto4"
        "foto5 foto5 foto5 foto5"
        "foto6-1 foto6-2 foto6-2 foto6-3 "
        "foto7 foto7 foto7 foto7"
        "foto8 foto8 foto8 foto8"
        "foto9-1 foto9-2 foto9-3 foto9-4"
        "foto10 foto10 foto10 foto10"
        "foto11 foto11 foto11 foto11"
        "foto12 foto12 foto12 foto12"
        "foto13 foto13 foto13 foto13"
        "foto14 foto14 foto14 foto14";

    gap: 10px; /* Ajusta el espacio entre las imágenes */
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.grid-item {
    width: 100%;
    height: auto;
    transition: transform 0.1s ease;
}

.grid-item:hover {
    transform: scale(1.1);
}

.foto1 { grid-area: foto1;width: 100% }
.foto2 { grid-area: foto2; width: 100%}
.foto3-1 { grid-area: foto3-1;width: 100%; }
.foto3-2 { grid-area: foto3-2;width: 100%; }
.foto3-3 { grid-area: foto3-3;width: 100%; }
.foto3-4 { grid-area: foto3-4;width: 100%; }
.foto4 { grid-area: foto4;width: 100% }
.foto5 { grid-area: foto5;
    width: 100%; }
.foto6-1 { grid-area: foto6-1;
    width: 100%; }
.foto6-2 { grid-area: foto6-2;
    width: 100%; }
.foto6-3 { grid-area: foto6-3;
    width: 100%; }
.foto7 { grid-area: foto7;
width: 100%; }
.foto8 { grid-area: foto8;width: 100%; }
.foto9-1 { grid-area: foto9-1; }
.foto9-2 { grid-area: foto9-2; }
.foto9-3 { grid-area: foto9-3; }
.foto9-4 { grid-area: foto9-4; }
.foto10 { grid-area: foto10;
width: 100%; }
.foto11 { grid-area: foto11;
    width: 100% }
.foto12 { grid-area: foto12;width: 100% }
.foto13 { grid-area: foto13; width: 100%}
.foto14 { grid-area: foto14;width: 100% }